@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.3s linear;
}

header{
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom:2px solid lightgray ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
}

.logo{
    font-size: 1.6rem;
    font-weight: 800;
    color: #023047;
}

.navbar a{
    margin-left: 1rem;
    color: #457b9d;
    font-weight: 500;
}

.navbar a:nth-of-type(1){
    border-bottom: 2px solid #000;
}

.navbar a:hover{
    border-bottom: 2px solid #000;
    transition: .2s;
}

.menu{
    quotes: 30px;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
    display: none;
}

.flex-end{
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
}

.flex-end i{
    margin-right: 1rem;
    quotes: 30px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #001d3d;
    cursor: pointer;
}

.flex-end i:hover{
    background: #457b9d;
}

.sub button{
    height: 35px;
    width: 150px;
    background: #ef233c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.sub button:hover{
    background-color: #d62828;
}

.hero .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.hero .slide .image {
    flex: 1 1 40rem;
}

.hero .slide .image img{
    width: 100%;
}

.hero .slide .contact{
    flex: 1 1 40rem;
    text-align: center;
}

.hero .slide .contact span{
    font-size: 1rem;
    color: #ccc;
}

.hero .slide .contact h3{
    font-size: 2rem;
}

@media (max-width: 768px) {
    .navbar{
        position: absolute;
        top: 0; left: 0; 
        width: 60%;
        height: 100vh;
        background: #ef233c;
        z-index: 99;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }


    .navbar a{
        display: block;
        text-align: center;
        margin: 1rem;
        border: 1px solid lightgray;
        padding: 0.5rem 0;
        border-radius: 5px;
        color: #fff;
    }
    .navbar a:nth-of-type(1){
        border: none;
        border: 1px solid lightgray;
    }
    .navbar a:hover{
        border: none;
    }

    .menu{
        display: flex;
    }

    .flex-end{
        display: flex;
    }

    .sub button{
        display: none;
    }

    .flex-end i{
        margin-right: .4rem;
    }
}